body {
  background-color: darkslategray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 30px;
}
form {
  border: 5px solid black;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-left: 500px;
  margin-right: 500px;
  border-radius: 20%;
}
.pill {
  font-size: 19px;
  padding: 0.5em 1em;
  margin-top: 47px;
  border-radius: 1em;
  border: none;
  outline: none;
  cursor: pointer;
}
.pill:hover{
  background-color: #cccccc;
}
.authenticate {
  font-size: 19px;
  padding: 0.5em 1em;
  margin-top: 47px;
  border-radius: 1em;
  border: none;
  outline: none;
  cursor: pointer;
}
.authenticate:hover{
  background-color: #cccccc;
}
